doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Simple Dynamic Circular Progressbar 
		link(rel='stylesheet', type='text/css', href='css/main.opt.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
		script(src='js/main.js')
	body
		#title 
			h1 Simple Dynamic Circular Progressbar
		.wrapper
			// only get color for change
			#color
			.wrap-progress.linux
				.background
					span.text-percent 85%
					.progress-180
					.progress-360
				.text
					span.text-skill Linux
			.wrap-progress.php
				.background
					span.text-percent 80%
					.progress-180
					.progress-360
				.text
					span.text-skill PHP5
			.wrap-progress.javascript
				.background
					span.text-percent 50%
					.progress-180
					.progress-360
				.text
					span.text-skill JavaScript
			.wrap-progress.java
				.background
					span.text-percent 77%
					.progress-180
					.progress-360
				.text
					span.text-skill Java
			.wrap-progress.python
				.background
					span.text-percent 47%
					.progress-180
					.progress-360
				.text
					span.text-skill Python